
#navbarDiv{

  display: flex;
  justify-content: space-between;
  background-color: yellow;
  height: 50px;
  align-items: center;
  border-radius: 15px;
   
}



#SerchBar{

  border: 1px solid red;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;

}



#mainContainer{

display: flex;
justify-content: space-evenly;

flex-wrap: wrap;
border: 1px solid red;
padding: 20px;
gap: 20px;

}


#mainContainer>div{

display: flex;
justify-content: space-evenly;
flex-direction: column;
flex-wrap: wrap;
border: 1px solid red;
padding: 20px;
width: 100px;
border-radius: 20px;


}


#fav{

  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  margin: 20px;
 width: 150px;
 border: 1px solid blue;
 border-radius: 10px;



}

#fav>img{
  width: 20%;

}